{% extends 'base.html.twig' %}

{% block title %}Edit Answer{% endblock %}

{% block body %}
    <h1>Edit Answer</h1>

    {{ include('answer/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-light text-decoration-none" href="{{ path('list_answer') }}">Back to list</a>

    {{ include('answer/_delete_form.html.twig') }}
{% endblock %}
