{% extends 'base.html.twig' %}

{% block title %}Create Quizz Question{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <div class="col-6 shadow-lg p-3 mb-5 rounded bg-white">
            <h1>Create Question</h1>

            <div class="col-4 d-flex flex-column justify-content-center">
                {{ include('question/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
